<?xml version="1.0"?>
<launch>
	<include file="$(find racecar_simulator)/launch/simulator-no-gui.launch" />

	<node pkg="wall_follow" type="wall_follow" name="wall_follow_cpp" output="screen" />
	<node pkg="wall_follow" type="wall_follow.py" name="wall_follow_py" output="screen" />

	<node pkg="testbench_wall_follow" name="test" type="testbench_wall_follow" output="screen" required="true">
		<rosparam command="load" file="$(find racecar_simulator)/params.yaml"/>
		<rosparam param="exit_node">true</rosparam>
	</node>

	<node name="record" pkg="rosbag" type="record" args="-a -O /tmp/recording gt_pose"/>
</launch>
